doctype html
html
  head
    link( rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans' )
    style(type="text/css").
      body {
        margin: 0px;
      }
  body
    div( id="app" )
    script( src="dist/bundle.js" )